@using System.Security.Claims

@{
    List<Driver> drivers = ViewData["DRIVERS"] as List<Driver>;
    List<Team> teams = ViewData["TEAMS"] as List<Team>;
}

<h1 class="mb-4">Editar Perfil</h1>

<div class="card mb-4">
    <div class="card-body">
        <h5 class="card-title">Información del Usuario</h5>
        <form method="post" enctype="multipart/form-data">
            <ul class="list-group">
                <input type="hidden" name="UserID" value="@Context.User.FindFirstValue(ClaimTypes.NameIdentifier)" />
                <li class="list-group-item">
                    <strong>Nombre de usuario:</strong>
                    <input type="text" name="UserName" class="form-control" value="@Context.User.Identity.Name">
                </li>
                <li class="list-group-item">
                    <strong>Correo electrónico:</strong>
                    <input type="email" name="Email" class="form-control" value="@Context.User.FindFirstValue(ClaimTypes.Email)" disabled>
                </li>
                <li class="list-group-item">
                    <strong>Equipo Favorito:</strong>
                    <select class="form-select" name="TeamID">
                        @foreach (var team in teams)
                        {
                            <option value="@team.TeamId" (@Context.User.FindFirstValue("EquipoFavorito") = "@team.TeamId.ToString()")>@team.TeamName</option>
                        }
                    </select>
                </li>
                <li class="list-group-item">
                    <strong>Piloto Favorito:</strong>
                    <select class="form-select" name="DriverID">
                        @foreach (var driver in drivers)
                        {
                            <option value="@driver.DriverID" (@Context.User.FindFirstValue("PilotoFavorito") = driver.DriverId.ToString())>@driver.DriverName</option>
                        }
                    </select>
                </li>
                <li class="list-group-item">
                    <strong>Foto de Perfil:</strong>
                    <img src="@Context.User.FindFirstValue("FotoPerfil")" alt="" style="max-width: 100px; max-height: 100px;" />
                    <input type="file" name="foto" class="form-control-file" />
                    <span class="text-danger"></span>
                </li>
                <input type="hidden" name="ProfilePicture" value="@Context.User.FindFirstValue("FotoPerfil")" />
            </ul>
            <button type="submit" class="btn btn-primary mt-3">Guardar Cambios</button>
        </form>
    </div>
</div>
